<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Blog | MR.LAWS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="/static/assets/css/slicknav.css">
            <link rel="stylesheet" href="/static/assets/css/animate.min.css">
            <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
            <link rel="stylesheet" href="/static/assets/css/flaticon.css">
            <link rel="stylesheet" href="/static/assets/css/slick.css">
            <link rel="stylesheet" href="/static/assets/css/nice-select.css">
            <link rel="stylesheet" href="/static/assets/css/sty.css">
   </head>
<body>
 {% include 'shared-header.html' %}
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="/static/assets/img/hero/blog4.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Blog</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!--================Blog Area =================-->


    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                {% for blog in allblog %}
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <a href="{{ blog.id }}"> <img class="card-img rounded-0" src="{{ blog.image.url }}/" height=450 width=200 alt=""> </a>
                                <div class="blog_item_date">
                                    <h3>{{ blog.date }}</h3>
                                    <p>{{ blog.month }}</p>
                                </div>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="{{ blog.id }}/">
                                    <h2>{{ blog.summary }}</h2>
                                </a>
                                <p>{{ blog.text_pretty }}</p>
                                <ul class="blog-info-link">
                                    <li><a href="{{ blog.id }}/"><i class="fa fa-user"></i> {{ blog.category }}</a></li>
                                    <li><a href="{{ blog.id }}/"><i class="fa fa-comments"></i> {{ blog.Comment }}</a></li>
                                </ul>
                            </div>
                        </article>

                    </div>
                </div>
                 {% endfor %}
            </div>

        </div>

    </section>
    <!--================Blog Area =================-->
    <!-- Want To Work Start -->
    <div class="wantToWork-area w-padding">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-xl-7 col-lg-9 col-md-8">
                    <div class="wantToWork-caption">
                        <h2>Get to our Consultants</h2>
                        <p>  By clicking here,Its that easy</p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-3 col-md-4">
                    <div class="wantToWork-btn f-right">
                        <a href="/#ourpartner" class="btn btn-ans">Get started <i class="ti-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Want To Work End -->
  {% include 'shared-footer.html' %}

</body>
</html>